<!doctype>
<html>
    <head>
        <title>Myself</title>
    </head>
    <body>
        <p>Hi! myself {{myself}}</p>
        <p>What I love to do</p>
        <ul>
            <li>{{likes.newLike}}</li>
            <li>{{likes.oldLike}}</li>
            <li>{{likes.set}}</li>
            <li>{{likes.set}}</li>
        </ul>
        {{> footer}}
    </body>
</html>